*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(#121212,rgba(183, 0, 255, 0.499));
color: antiquewhite;
}
.clock-container{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    border: 5px solid antiquewhite;
    height: 400px;
    width: 600px;
}
#clock{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    font-family: 'Roboto', sans-serif;

}
#date{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
}